/* App.css
select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

select option {
  background-color: white;
  color: #333;
}

select option:hover {
  background-color: #ddd;*/ 

